/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* generales */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0b0c0c;
    color: grey;
}

nav {
    text-align: center;
    background-color: purple;
}

.nav__list li {
    display: inline-block;
}

.nav__list li a {
    color: blanchedalmond;
    padding: 10px;
}

h1 {
    text-align: center;
    color: red;
    margin: 10px;
}

h2 {
    color: lightgray;
}

img {
    width: 50%;
    object-fit: cover;
    padding: 5px;
}

label {
    padding: 10px;
}

footer {
    text-align: center;
    color: blanchedalmond;
    background-color: purple;
}

footer a {
    color: blanchedalmond;
    padding: 5px;
}

form label {
    display: block;
}

form,
.button {
    text-align: center;
    padding: 5px;
}

/* index */

.img__box__index {
   max-width: 100%;
   height: auto;
}

.grid__container__index {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid__container__index a {
    font-size: medium;
    border-radius: 5px 5px 0px 5px;
    background-color: purple;
    color: black;
}

.text1,
.text2,
.text3 {
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* tienda */

.store__text {
    color: darkgray;
    text-align: center;
    font-size: smaller;
}

.store__text a {
    font-size: medium;
    border-radius: 5px 5px 0px 5px;
    background-color: purple;
    color: black;
}

/* soporte */

.soporte__container,
.order__block {
    text-align: left;
    padding: 10px;
}

/* experiencias */

.experiencias__container {
    text-align: center;
    padding: 10px;
}

/* específicos */

.order,
.comment,
.message,
form,
.button,
.tag2 {
    text-align: center;
}

.tag1 {
    text-align: left;
    margin-left: 25px;
}

.img__box__store,
.img__box__soporte,
.img__box__experiencias {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* responsive */

@media (min-width: 768px) {
    .grid__container__index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        text-align: right;
        grid-template-areas:
            "img1 text1"
            "img2 text2"
            "img3 text3";
    }

    .text1,
    .text2,
    .text3 {
        text-align: left;
        margin-right: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .store__text {
        font-size: medium;
    }
}

@media (min-width: 1024px) {
    .store__text {
        font-size: large;
    }
}