$color-text: grey;
$color-text-secondary: blanchedalmond;
$color-text-tertiary: lightgray;
$color-text-title: blue;
$color-text-store-primary: black;
$color-text-store-secondary: darkgray;
$color-primary: #0b0c0c;
$color-nav-footer: purple;
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$max-img-width: 100px;
$max-img-height: 100px;