.img__box__store,
.img__box__soporte,
.img__box__experiencias {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50%;
    object-fit: cover;
    padding: 5px;
}

.logo img {
    max-width: $max-img-width;
    max-height: $max-img-height;
}